<h2>The Product Reactive Component</h2>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td>
        <!--Bind the [formGroup] directive-->
        <form [formGroup]="frmgpProduct" (ngSubmit)="save()">
        <div class="container">
          <div class="form-group" [setColor]="'black'">
              <label>Product Row Id</label>
              <!--bind the 'key' of the FormGroup with 'formControlName'-->
              <input type="text" class="form-control" formControlName="ProductRowId">
              <!--Evaluate validations-->
              <!--Check if the eleemnt is chnaged (dirty) and value is not valid or invalid-->
              <!-- The <FormGroup>.controls.<formControlName>.dirty, to check if element is changed
                The !<FormGroup>.controls.<formControlName>.valid -->
              <div class="alert alert-danger"
              *ngIf="frmgpProduct.controls.ProductRowId.dirty && !frmgpProduct.controls.ProductRowId.valid">
                 <!-- Evaluate individual validators
                  <FormGroup>.controls.<formControlName>.errors.<validator>
                  -->

                  <p *ngIf="frmgpProduct.controls.ProductRowId.errors?.required">Product Row Id is Required</p>
                  <p *ngIf="frmgpProduct.controls.ProductRowId.errors?.minlength">Product Row Id must be 4 digits minimum</p>
                  <p *ngIf="frmgpProduct.controls.ProductRowId.errors?.maxlength">Product Row Id can be 8 digts maximum</p>
                  <p *ngIf="frmgpProduct.controls.ProductRowId.errors?.pattern">Product Row Id must be numeirc</p>
                  <p *ngIf="!frmgpProduct.controls.ProductRowId.errors?.even">
                    The Product Row Id must be even
                  </p>

            </div>
          </div>
          <div class="form-group">
            <label>Product  Id</label>
            <input type="text" class="form-control" formControlName="ProductId"  >
          </div>
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" formControlName="ProductName"   >
          </div>
          <div class="form-group">
            <label>Category Name</label>
            <select  class="form-control" formControlName="CategoryName"   >
              <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Manufacturers</label>
            <select  class="form-control" formControlName="Manufacturer"  >
              <option *ngFor="let man of manufacturers" value="{{man}}">{{man}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="Description"  >
          </div>
          <div class="form-group">
            <label>Base Price</label>
            <input type="text" class="form-control" formControlName="BasePrice"   >
          </div>
          <div class="form-group">
            <!-- Disable the submit button -->
             <input type="submit" value="Save" [disabled]="!frmgpProduct.valid" class="btn btn-success" >
             <input type="button" value="Clear" class="btn btn-warning" (click)="clear()">
          </div>
        </div>
      </form>
      </td>
      <td>
        <!-- <table class="table table-bordered table-striped">
           <thead>
             <tr>
               <th>Product Row Id</th>
               <th>Product Id</th>
               <th>Product Name</th>
               <th>Category Name</th>
               <th>Manufacturer</th>
               <th>Description</th>
               <th>Base Price</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let prd of products"
              (click)="getSelectedProduct(prd)">
                <td>{{prd.ProductRowId}}</td>
                <td>{{prd.ProductId}}</td>
                <td>{{prd.ProductName}}</td>
                <td>{{prd.CategoryName}}</td>
                <td>{{prd.Manufacturer}}</td>
                <td>{{prd.Description}}</td>
                <td>{{prd.BasePrice}}</td>
             </tr>
           </tbody>
        </table> -->
        <h3>Table Generated Dynaically</h3>
        <!-- <table class="table table-bordered table-striped">
           <thead>
              <tr>
                <th *ngFor="let header of coloumnHeaders">{{header}}</th>
              </tr>
           </thead>
           <tbody>
             <tr *ngFor="let prd of products" (click)="getSelectedProduct(prd)">
               <td *ngFor="let header of coloumnHeaders">
                  {{prd[header]}}
               </td>
             </tr>
           </tbody>
        </table> -->
        <app-datatable-component [DataSource]="products"
         (selectRow)="onSelectedProduct($event)"></app-datatable-component>
        <br>
        <app-datatable-component [DataSource]="depts"></app-datatable-component>

      </td>
    </tr>
  </tbody>
</table>
