<h1>The App Component for Angular Fundamentals</h1>
<!--The Interpolation-->
<div class="container">
  <strong>
    {{message}}
  </strong>
  {{200+900}}

  <!--Property Binding-->
  <br>
  <input type="text" class="form-control" [value]="message">
  <br>
  <!--Event Binding-->
  <input type="button" value="Click Me" (click)="display()">
  <br>
  <!--Event Binding with passing JavaScript event object $event-->
  <input type="button" value="Click Me" (click)="displayWithEventParameter($event)">
  <hr>
  <!--Two-Way Binding using 'ngModel', the attribute directive
   combination of Property Binding + Event Binding
  [(ngModel)]="<PUBLIC_PROPERTY>"
     Add 'FormsModule' from @angular/forms in NgModule imports
     ngModel , invokes 'ngModelChanhged' event, this corresponds to the defualt event of the UI element on which
    ngModel is applied -->
    <h5>AngularTwo-Way Binding</h5>
  <input type="text" class="form-control" [(ngModel)]="name">
  <br>
  <input type="text" class="form-control" [(ngModel)]="name">
  <br>
  <input type="text" class="form-control" [(ngModel)]="name">
  <br>
</div>
<hr>
<h5>Angular Structural Directives</h5>
<!--USed to Add / Remove DOM based on Conditions
 *ngFor, the for loop to generate DOM based on Collection
*ngIf, add / Remove DOM element based on condition-->
<select class="form-contol" [(ngModel)]="selectedHero">
  <option *ngFor="let hero of heros" value="{{hero}}">{{hero}}</option>
</select>
<br>
 <strong>Selected Hero = {{selectedHero}}</strong>
<br>
<select>
  <option *ngFor="let n of names" value="{{n.Id}}">{{n.name}}</option>
</select>
<div class="container">
   <input type="button" value="Show/Hide" (click)="toggle()">
   <hr>
   <!--if canShow is true then the 'div' will be added on DOM else removed -->
   <div class="container" *ngIf="canShow">
      <strong>The Condition is True</strong>
   </div>
   <hr>
   <!--use [hidden] property binding for toggleing the 'div'-->
   <div class="container"[hidden]="!canShow">
    <strong>The Condition is True</strong>
 </div>
</div>



